* {
    padding: 0;
    margin: 0;
    
}   
.body {
    height: 100%;
    background-color: lightgray;
    flex-shrink: 0;
    background-image: url(cloudsky.webp);
}

.left-hand-side {
    width: 250px;
    height: 100%;
    background-color: antiquewhite;
    padding-top: 2%;
    flex-direction: row;
    flex-grow: 1;
    display: flex;
    display: inline-block;
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
    margin-left: 10px;
}

.dashboard {
    justify-content: center;
    background-color: whitesmoke;
    
}

.search {
    padding: 10px;
}

.current-weather {
    display: inline-block;
    border: 2px solid black;
    height: 100%;
    padding: 20px 20px 20px 20px;
    margin-left: 16rem;
    margin-right: 20px;
    background-color: antiquewhite;
}
.card {
    max-width: 76%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    
}

.row {
    display: inline-block;
    width: auto;
}

.placeholder {
    display: r
}

#temperaturePlace {
    font-size: larger;
    font-weight: bold;
}

#card1 {
    font-size: small;
    
}


#dayForecast {
    display: inline-block;
    text-align: center;
    padding-left: 325px;
    padding-bottom: 10px;
    font-weight: bold;
}

li {
    text-align: center;
    background-color: darkgray;
}

